.span-domain {
  font-weight: 300;
  font-size: 26px;
}
.red-dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 80px;
  left: 250.5px;
  /* box-shadow: 0px 0px 2px 0.5px rgb(0 0 0 / 26%); */
}

/* ----------- MEDIA QUERIES ---------- */
@media (max-width: 1250px) {
  .header {
    padding: 0 24px;
  }
  .red-dot { width: 0px;}
}
@media (max-width: 456px) {
  .header {
    padding: 0 8px;
  }
}

/* ----------- ADD NEW RESTAURANT button ---------- */
.buttons {
  font-size: 1rem;
  padding: 0.33em 0.89em;
  text-decoration: none;
  border-radius: .2em;
  text-align: center;
}
.button-add::before {               
  content: "🥘 ";
}
.button-add {
  background: #fff;
  color: #111;
}
.button-add:hover {
  background-image: linear-gradient(to right,
     #E7484F,
     #E7484F 16.65%,
     #F68B1D 16.65%,
     #F68B1D 33.3%,
     #FCED00 33.3%,
     #FCED00 49.95%,
     #009E4F 49.95%,
     #009E4F 66.6%,
     #00AAC3 66.6%,
     #00AAC3 83.25%,
     #732982 83.25%,
     #732982 100%,
     #E7484F 100%
   );
 animation: slidebg 2s linear infinite;
}
@keyframes slidebg {
  to {
  background-position:20vw;
  }
}