.map-container {
  width: 100%;
  max-width: inherit;
  height: 50vh;
  position: fixed;
  top: 162px;
  z-index: -1px;
}
.popup {
  max-width: 240px;
  box-shadow: 0px 0px 3px 0.5px rgb(0 0 0 / 26%);
}
/* class below is from mapbox itself. */
.mapboxgl-popup-content {
  padding: 0;
}
.popup-img {
  width: 100%;
  height: auto;
}