.link-back {
  font-size: 14px;
}
.new-form-img {
  height: 300px;
  object-fit: cover;
}


/* .radio-item {
  display: none;
} */


/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + p {
  cursor: pointer;
}
[type=radio] + p:hover {
  background-color: #fafffd;
  outline: 2px solid #a9edce;
  border-radius: 5px;
}

/* CHECKED STYLES */
[type=radio]:checked + p {
  outline: 2px solid #198754;
  border-radius: 5px;
}

.btn-flag-form {
  font-size: 32px;
  margin-bottom: 0px;
  padding: 0px 14px;
  line-height: 36px;
}

.flag-buttons {
  margin-top: 8px;
  display: flex;
  justify-content: space-evenly;
}