* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a { text-decoration: none; }


main {
  width: 100%;
  max-width: 1060px;
  background: #fff;
  margin: 0 auto;
  padding: 60px 0 0;
  position: relative; 
  /* INFO: position relative bc the Map is fixed and the List is absolute */
}


/* --------------- MEDIA_QUERIES--------------- */
@media (max-width: 767px) {

}
@media (max-width: 456px) {

}